<form method="get" action="">
  <div class="field is-horizontal">
    <div class="field-label">
      Only show carriers where number of power units is between
    </div>
    <div class="field-body is-grouped field">
      <div class="control">
        <input class="input" type="text" name="min_number_of_power_units" size="5">
      </div>
      <div class="control">
        and
      </div>
      <div class="control">
        <input class="input" type="text" name="max_number_of_power_units" size="5">
      </div>
      <div class="control">
        <input type="submit" value="Submit" class="button is-primary">
      </div>
    </div>
  </div>
</form>
