<form method="get" action="">
  <div class="field is-horizontal">
    <div class="field-label is-normal">
      <label class="label">Search for</label>
    </div>
    <div class="field-body">
      <div class="field">
        <div class="control">
          <input class="input" type="text" name="q" size=20 value="{{ request.GET.q }}">
        </div>
      </div>
    </div>
  </div>
  <div class="field is-horizontal">
    <div class="field-label is-normal">
      <label class="label">State</label>
    </div>
    <div class="field-body">
      <div class="field">
        <div class="control">
          <div class="select">
            <select name="state">
              <option value="">Select state</option>
              {% for state in states %}
                <option value="{{ state.0 }}" {% if state.0 == request.GET.state %}selected{% endif %}>{{ state.1 }}</option>
              {% endfor %}
            </select>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="field is-horizontal">
    <div class="field-label is-normal">
      <label class=label>
        Number of power units
      </label>
    </div>
    <div class="field-body">
      <div class="field">
        <div class="control">
          <input class="input" type="text" name="min_number_of_power_units" placeholder="Min" size="5" value="{{ request.GET.min_number_of_power_units }}">
        </div>
      </div>
      <div class="field">
        <div class="control">
          <input class="input" type="text" name="max_number_of_power_units" placeholder="Max" size="5" value="{{ request.GET.max_number_of_power_units }}">
        </div>
      </div>
    </div>
  </div>
  <div class="field is-horizontal">
    <div class="field-label">
    </div>
    <div class="field-body">
      <div class="field">
        <div class="control">
          <input type="submit" value="Submit" class="button is-primary">
        </div>
      </div>
    </div>
  </div>
</form>
