{% extends "censuscrunch/base/main.html" %}
{% load humanize %}

{% block title %}
  Carrier list
{% endblock %}


{% block content %}
  <h1 class="title">
    The Census Crunch
  </h1>
  <p>
    We just provide the
    <a href="https://ai.fmcsa.dot.gov/SMS/Tools/Downloads.aspx">FMCSA census data</a>
    in a more convenient way. <strong>No warranties!</strong>
  </p>
  {% include "censuscrunch/search/form.html" %}
  {% if page_obj.paginator.count > row_limit %}
    <p>
      This search returns {{ page_obj.paginator.count|intcomma }} rows.
      Change it so that it returns at most {{ row_limit }} rows.
    </p>
  {% elif searched %}
    <p>{{ page_obj.paginator.count|intcomma }} records
      <a class="button is-primary is-pulled-right"
        href="?{{ request.GET.urlencode }}&format=csv"
        >Download these results as CSV</a>
    </p>
    {% include "censuscrunch/search/table.html" %}
  {% endif %}
{% endblock %}
