{% load sorting %}

<table class="table">
  <thead>
    <tr>
      <th>{% sorter "name" "Name" %}</th>
      <th>{% sorter "physical_state" "State" %}</th>
      <th>{% sorter "number_of_power_units" "Power units" %}</th>
      <th>{% sorter "number_of_drivers" "Drivers" %}</th>
      <th>Email</th>
    </tr>
  </thead>
  <tbody>
    {% for object in object_list %}
      <tr>
        <td><a href="{% url "carrier_detail" object.id %}">{{ object|truncatechars:30 }}</a></td>
        <td>{{ object.physical_state }}</td>
        <td>{{ object.number_of_power_units|default_if_none:"" }}</td>
        <td>{{ object.number_of_drivers|default_if_none:"" }}</td>
        <td>{{ object.email_with_link|safe }}</td>
      </tr>
    {% endfor %}
  </tbody>
</table>
