<table class="table">
  <thead>
    <tr>
      <th>Name</th>
      <th>State</th>
      <th>Power units</th>
      <th>Drivers</th>
      <th>Email</th>
    </tr>
  </thead>
  <tbody>
    {% for object in object_list %}
      <tr>
        <td><a href="{% url "carrier_detail" object.id %}">{{ object|truncatechars:30 }}</a></td>
        <td>{{ object.physical_state }}</td>
        <td>{{ object.number_of_power_units|default_if_none:"" }}</td>
        <td>{{ object.number_of_drivers|default_if_none:"" }}</td>
        <td>{{ object.email_with_link|safe }}</a></td>
      </tr>
    {% endfor %}
  </tbody>
</table>
